{% extends "main.html" %}

{% block content %}
<h3>About this Wiki</h3>

<!-- TODO(Project 1): Add info about the wiki. -->

<h3>Your Authors</h3>

<!-- TODO(Project 1): Add team members and pictures to about page. -->
<img src="team_image_url1.jpg" alt="Image of Team Member 1">
<img src="team_image_url2.jpg" alt="Image of Team Member 2">
<img src="team_image_url3.jpg" alt="Image of Team Member 3">
{% endblock %}


{% block head %}
{{super()}}
<style>
img {
    display: block;
	margin: 0 auto;
	border: 2px solid black;
}

h3 {
    font-size: 32px;
    color: rgb(108, 3, 117);
}

p {
	font-size: 16px;
	line-height: 1.5;
}
</style>
{% endblock %}