<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        {% block head %}
        <title> {{page_name}}</title>
        <link rel="stylesheet"  href="{{ url_for('static', filename='base_styles.css') }}">
        {% endblock %}
       
    </head>
</head>


<body>

    <header class="header-content">{% block navbar %} {% endblock %} </header>

    <div style="display: flex; justify-content:center; text-decoration: wavy; text-align: center;">       
        <body>
            <h1 class="base_h1"> {{ page_name }} </h1>
        </body>
    </div>
    <p class="base_p"> {{ page_content }} </p>
    {% block content %}
    {% endblock %}
    {% block flash_messages %} {% endblock %}
</body>

</html>