<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        {% block head %}
        <title> {% block title %} Vacapedia {% endblock %}</title>
        {% endblock %}
       
    </head>
</head>

<body>

    <header class="header-content">{% block navbar %} {% endblock %} </header>
    <!-- TODO(Project 1): Implement routes. -->
    <div style="display: flex; justify-content:center; text-decoration: wavy; text-align: center;">       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <h1>Welcome to the Awesome wikipedia</h1>
    </div>
    {% block flash_messages %} {% endblock %}
</body>

</html>