

{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet"  href="{{ url_for('static', filename='navbar.css') }}">
  <link rel="stylesheet"  href="{{ url_for('static', filename='home_styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <script>
    /*Flash animation to display message*/
    document.addEventListener('DOMContentLoaded', function() {
    const flashElements = document.querySelectorAll('.flash');

    flashElements.forEach((element) => {
        setTimeout(() => {
            element.style.opacity = '0';
            setTimeout(() => {
                element.remove();
            }, 1000);
        }, 3000);
    });
});
  </script>
{% endblock head %}

{% block navbar %}

    <nav>
        <div style="margin-right: 30px;">
            <ul class="navbar"> <!--Add link to app.py and use jinja template to render links-->
                <li class="nav-li"> <a class="custom-a" href="{{url_for('home')}}"> Home</a>  </li>
                <li class="nav-li"> <a class="custom-a" href="{{url_for('all_pages')}}"> Pages </a> </li>
                <li class="nav-li"> <a class="custom-a" href="{{url_for('about')}}"> About </a> </li>
                {% if current_user.is_authenticated %}
                <div class="username-container">
                | 
                <!-- Add User and | when log in-->
                <!-- Select navbar component if user is authenticated -->
              
                <div class="username"><a  href="{{ url_for('profile_view', username=current_user.username) }}">{{ current_user.username }}</a></div>
                |
                </div>
                <li class="nav-li"> <a class="custom-a" href="{{url_for('upload')}}"> Upload </a> </li>
                <li class="nav-li"> <a class="custom-a" href="{{url_for('logout')}}"> Log out </a></li>

                {% else %}
                |
                <li class="nav-li"> <a class="custom-a" href="{{url_for('login')}}"> Login </a> </li>
                <li class="nav-li"> <a class="custom-a" href="{{url_for('sign_up')}}"> Sign up </a></li>

                {% endif %}
            
            </ul>
        </div>
    </nav>
{% endblock navbar %}

{% block flash_messages %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="status" role="alert">
                <ul class="flash show" style="padding: 0; display: flex; justify-content: center;  list-style-type: none;">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
{% endblock flash_messages %}