

{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet"  href="{{ url_for('static', filename='navbar.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
{% endblock head %}

{% block navbar %}

    <nav>
        <div style="margin-right: 30px;">
            <ul class="navbar"> <!--Add link to app.py and use jinja template to render links-->
                <li> <a href="{{url_for('home')}}"> Home</a>  </li>
                <li> <a href="{{url_for('home')}}"> Pages </a> </li>
                <li> <a href="{{url_for('home')}}"> About </a> </li>
                |
                
                <!-- Add User and | when log in-->
                {% if current_user.is_authenticated %}
                {{ current_user.username }}
                |
                <li> <a href="{{url_for('upload')}}"> Upload </a> </li>
                <li> <a href="{{url_for('logout')}}"> Log out </a></li>

                {% else %}
                
                <li> <a href="{{url_for('login')}}"> Login </a> </li>
                <li> <a href="{{url_for('sign_up')}}"> Sign up </a></li>

                {% endif %}
            
            </ul>
        </div>
    </nav>
{% endblock navbar %}

