{% extends 'main.html' %}

{% block head %}
    {{super()}}
    <title>{{ page_name }}</title>
    <style>
        .page-index-li{
            list-style-type: none;
        }
        .page-ul{
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 0 !important;
        }
        .page-li{
            font-family: 'Ariel', sans-serif;
            display: flex;
            justify-content: start;
        }
        .container{
            display: flex;
            justify-content: center;
        }
                

    </style>
{% endblock %}

{% block content %}

<body>
    <div class="container">
    <ul class="page-ul">
    {% for page in all_pages %}
        {% if loop.index < all_pages|length %}
            <li class="page-index-li page-li">├─<a href="{{ url_for('page', name=page) }}">{{ page }}</a></li>
        {% else %}
            <li class="page-index-li page-li">└─ <a href="{{ url_for('page', name=page) }}">{{ page }}</a></li>
        {% endif %}

        
    {% endfor %}
    </div>
    </ul>
</body>
{% endblock %}