
{% extends "main.html" %}

{% block content %}
<!-- TODO(Project 1): Add info about the wiki. -->

<h3>{{ current_user.username }}</h3>

<!-- TODO(Project 1): Add team members and pictures to about page. -->
<div class="user-container">
    <div class="user">
        <div> <h4 class="user-name">Emmanuel González Morales</h4></div>
        <div> <h5 class="user-name">University of Puerto Rico Mayaguez Campus</h5></div>
        <img src="{{ url_for('images', img_blob_name='EmmanuelGonzalezMoralesAuthor')}}" alt="Emmanuel J. Gonzalez Morales">
    </div>
</div>
{% endblock %}


{% block head %}
{{super()}}
<style>
img {
    display: block;
	margin: 0 auto;
	border: 2px solid black;
    border-radius: 50%;
    width: 260px;
    height: 260px; 
    object-fit: fill;
}
.user{
    margin-left: 60px;
    margin-right: 60px;
    flex-basis: 33%;

}
.wiki-description{
    margin-left: 65px;
    margin-right: 65px;
    font-family: 'Open Sans', sans-serif;

    /*text-indent: 25px;*/
}
.user-name{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}
.user-container{
    display: inline-flex;
    justify-items: center;
    width: 100%;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color:  rgba(0, 0, 255, .6);
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

p {
	font-size: 18px;
	line-height: 1.5;
}
</style>
{% endblock %}